<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Search Page</title>
<link th:href = "@{assets/css/booty.css}" rel="stylesheet">
</head>
<body>
<div align="center">
	<h2>Search Ticket</h2>
	<form th:action="@{/searchTicket}" method="get">
	<table>
			<tr>
				<td>Ticket ID: <input type="text" name="ticketId"></td>
				<td><input class="btn btn-primary" role="button" type="submit" value="Search" /></td>
			</tr>
	</table>
	</form>
	<hr/>
	<h2>Search Ticket Details</h2>
	<div th:if="${ticket != null}">
	<table>
			<tr>
				<td>Ticket ID:</td>
				<td th:text="${ticket.ticketId}"></td>
			</tr>
			<tr>
				<td>From Location: </td>
				<td th:text="${ticket.from}"></td>
			</tr>
			<tr>
				<td>To Location: </td>
				<td th:text="${ticket.to}">></td>
			</tr>
			<tr>
				<td>Ticket Status: </td>
				<td th:text="${ticket.ticketStatus}"></td>
			</tr>
			<tr>
				<td>Ticket Cost: </td>
				<td th:text="${ticket.tktCost}"></td>
			</tr>
				<tr>
				<td>Train Number: </td>
				<td th:text="${ticket.trainNum}"></td>
			</tr>
	</table>
	</div>
</div>	
</body>
</html>
	